<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
  <!-- ***** Header Area End ***** -->
{% block post %}
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h2>Our Services</h2>
            <div class="div-dec"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Main Banner Area End ***** -->

  <section class="main-services">
    <div class="container">
      <div class="row">
        {% for item in service %}
        <div class="col-lg-12">
          <div class="service-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-image">
                  {% comment %} <i class="{{ item.itag}}"></i> {% endcomment %}
                  <img src="{% static 'assets/images/service-image-01.jpg'%}" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="right-text-content">
                  <i class="fas fa-archive"></i>
                  <h4>{{ item.name }}</h4>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h4>Business <em>Solutions</em> and <strong>Crypto</strong> Investments</h4>
        </div>
        <div class="col-lg-7">
          <div class="buttons">
            <div class="green-button">
              <a href="{% url 'services' %}">Discover More</a>
            </div>
            <div class="orange-button">
              <a href="{% url 'contactUs' %}">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="service-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Investment in Details</h6>
            <h4>Upgrade your knowledge</h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12 mt-2">
                  <div class="menu">
                    <div class="gradient-border"><span>Web/App </span></div>
                    <div class="active gradient-border"><span>Digital Marketing</span></div>
                    <div class="gradient-border"><span>SEO </span></div>
                    <div class="gradient-border"><span>Financial Planning</span></div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image">
                          <img src="{% static 'assets/images/service-details-01.jpg' %}" alt="">
                        </div>
                        <div class="right-content mt-2">
                          <h4>Web/App Dev</h4>
                          <p>Whether you aspire to launch a dynamic website that captivates your audience or envision a cutting-edge app that revolutionizes user experiences, we've got you covered. Our experts meticulously plan, design, and craft each element to perfection..</p>
                          <span>- Planning and Strategy</span>
                          <span>- Design and User Experience (UX)</span>
                          <span>- Database Management</span>
                          <span>- Integration of Third-Party Services</span>
                          <span class="last-span">- Maintenance and Updates</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{% static 'assets/images/service-details-02.jpg'%}" alt="">
                        </div>
                        <div class="right-content mt-2">
                          <h4>Learn more about Search Engine Optimization (SEO) </h4>
                          <p>Search Engine Optimization (SEO) is a crucial digital marketing strategy aimed at enhancing the visibility and ranking of a website or online content in search engine results pages (SERPs). By optimizing various on-page and off-page elements, such as keywords, meta tags, backlinks, and site structure, businesses and website.</p>
                          <span>- Keyword Research</span>
                          <span>- On-Page Optimization</span>
                          <span class="last-span">- Analytics and Monitoring:</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image">
                          <img src="{% static 'assets/images/service-detail s-03'%}.jpg" alt="">
                        </div>
                        <div class="right-content mt-2">
                          <h4>How to carefully plan on your online financials</h4>
                          <p>Welcome to a realm where dreams turn into digital realities! 🚀 Are you ready to embark on a journey that spells financial triumph for your online venture? Here's how meticulous planning can pave the way.</p>
                          <span>- Empower Your Vision:</span>
                          <span>-  Optimize for Triumph</span>
                          <span>-  🔒 Risk Smarter</span>
                          <span class="last-span">- Managing Digital Assets</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock post %}
